textarea {
    width: 300px;
    height: 150px;
}


.landing-page {
    background-color: #ececec;
    background-size: cover;
    height: 100vh;
}

/* body {
    background-color: #ececec;
} */

.navbar-custom {
    height: 80px;
}

.main-img {
    padding-top: 50px;
    max-width: 100%;
    height: auto;
    width: 800px;
    height: 400px;
    border-radius: 5px;
}

#main-content {
    padding-top: 100px;
}

#img-ex {
    width: 200px;
    height: 200px;
}