textarea {
    width: 300px;
    height: 150px;
}


.landing-page {
    /* background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("img/landing1.jpg"); */
    background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url("../img/landing2.jpg");
    background-size: cover;
    height: 100vh;
}

.navbar-custom {
    height: 80px;
}

#side-nav {
    /* padding-top: 80px; */
    position: absolute;
    top: 400px;
}

#side-nav i {
    color: #643B9F;
    padding-right: 5px;
    padding-left: 5px;
    padding-top: 10px;
}

#landing-page-btns {
    padding-top: 20px;
}

/* About Section */

#about {
    /* background-color:rgb(240,240,240); */
    background-color: #f6f6f6;
}

#about .dash-fill {
    color:#643B9F;
    font-size: 50px;
}

#about #about-me-intro {
    font-size: 22px;
}

#self-image {
    background: url("../img/self.jpg");
    background-size: 100px 80px;
}

#about-me h1 {
    padding-top: 50px;
    padding-bottom: 30px;
}

#my-skills h1 {
    padding-top: 50px;
    padding-bottom: 30px;
}

#about-me-text {
    font-size: 22px;
}

#my-skills .skills-btn {
    background-color: rgb(200,200,200);
    color: black;
    font-weight: bold;
    padding: 10px 25px;
    margin-right: 20px;
    margin-bottom: 15px;
    border: none;
}

/* Projects Section */
#projects {
    background-color: #ececec;
}

#projects .dash-fill{
    color:#643B9F;
    font-size: 50px;
}

#code-link {
    color: black;
    font-size: 22px;
    
}
/* #projects #projects-intro {
    font-size: 22px;
} */

#projects img {
    max-width: 100%;
    width: 650px;
    height: 350px;
}

.details-btn {
    padding: 10px 50px;
    background-color: #643B9F;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    max-width: 100%;
    
}

/* Contact */
#contact {
    /* background-color:rgb(240,240,240); */
    background-color: #f6f6f6;
}

#contact .dash-fill{
    color:#643B9F;
    font-size: 50px;
}

.details-btn-form {
    padding: 10px 100px;
    background-color: #643B9F;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    max-width: 100%;
    
}

#contact-form {
    background-color: #ececec;
    border-radius: 10px;
}

.hover-border a:hover {
    border-bottom: #643B9F 1px solid;
}

/* Styling for Project's More Details page */
/* #more-details-page {
    background-color: #ececec;
} */

#course-creator-body {
    background-color: #ececec;
}

#more-details-page #main-header {
    padding-top: 100px;
}

#more-details-page img {
    padding-top: 0px;
    max-width: 100%;
    height: auto;
    width: 1000px;
    height: 550px;
    border-radius: 5px;
}

#main-content {
    padding-top: 50px;
    background-color: #f6f6f6;
    padding-bottom: 50px;
}

#main-content #img-ex {
    /* padding-top: 50px; */
    max-width: 100%;
    height: auto;
    width: 700px;
    height: 400px;
    border-radius: 5px;
}

#main-content #left-side {
    padding-left: 100px;
}

#main-content #right-side {
    padding-right: 100px;
}

.back-to-top {
    padding: 10px 100px;
    background-color: #643B9F;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    max-width: 100%;
}

.footer {
    padding-top: 20px;
    background-color: #ececec;
}